<ion-view title="CE-3" ng-controller="NewTestCtrl as form">
    <ion-content>
    <div class="list">
        <div class="list">
            <ion-radio ng-model="form.ce3" ng-value="'Compliant'">Compliant</ion-radio>
            <ion-radio ng-model="form.ce3" ng-value="'Not Compliant'">Not Compliant</ion-radio>
            <ion-radio ng-model="form.ce3" ng-value="'Not Tested'">Not Tested</ion-radio>

        </div>
        <div class="row col-33 col-offset-67">
        <a class="button button-balanced" href="#/" ng-click="form.processForm(form.ce3)">
            Submit
        </a>
    </div>
    </ion-content>
</ion-view>
