<ion-view title="Site Results" ng-controller="NewTestCtrl as form">
    <ion-content class="">
        <div class="card list">
            <ion-radio ng-model="form.site" ng-value="'New York'">New York</ion-radio>
            <ion-radio ng-model="form.site" ng-value="'Chicago'">Chicago</ion-radio>
            <ion-radio ng-model="form.site" ng-value="'Los Angeles'">Los Angeles</ion-radio>
            <label class="item item-input">
                <span class="input-label">Test Date: </span>
                <input type="date"ng-model="form.date" placeholder="2016-01-30">
            </label>
        </div>
        <div class="row col-33 col-offset-67">
            <a type="button" ui-sref="sidemenu.t1" class="button button-calm" ng-click="form.saveSite(form.site,form.date)">
                Next Section
            </a>
        </div>
    </ion-content>
</ion-view>
