<ion-view  title="AC-1" ng-controller="NewTestCtrl as form">
    <ion-content>
        <div class="list">
            <ion-radio ng-model="form.ac1" ng-value="'Compliant'">Compliant</ion-radio>
            <ion-radio ng-model="form.ac1" ng-value="'Not Compliant'">Not Compliant</ion-radio>
            <ion-radio ng-model="form.ac1" ng-value="'Not Tested'">Not Tested</ion-radio>

        </div>
        <div class="row col-33 col-offset-67">
            <a ui-sref="sidemenu.t2" class="button button-calm" ng-click="form.saveAC(form.ac1)">
                Next Section
            </a>
        </div>
    </ion-content>

</ion-view>
