<ion-view  title="BD-2" ng-controller="NewTestCtrl as form">
    <ion-content>
        <div class="list">
            <ion-radio ng-model="form.bd2" ng-value="'Compliant'">Compliant</ion-radio>
            <ion-radio ng-model="form.bd2" ng-value="'Not Compliant'">Not Compliant</ion-radio>
            <ion-radio ng-model="form.bd2" ng-value="'Not Tested'">Not Tested</ion-radio>

        </div>
        <div class="row col-33 col-offset-67">
            <a ui-sref="sidemenu.t3" class="button button-calm" ng-click="form.saveBD(form.bd2)">
                Next Section
            </a>
        </div>
    </ion-content>

</ion-view>
