<!--<ion-view title = {{sc.data.site.name}} ng-controller="SiteDetailCtrl as sc">-->
<ion-view title = {{sc.title}} ng-controller="SiteDetailCtrl as sc">

    <ion-content class="has-header">
        <div class="row">
            <div class="col span4"></div>
            <div class="col span4" ng-repeat="control in sc.controlarray">{{control}}</div>
        </div>
        <div class="row" ng-repeat="data in sc.wrapper">
            <div class="col">{{data.testDate}}</div>
            <div class="col">{{data.ac1}}</div>
            <div class="col">{{data.bd2}}</div>
            <div class="col">{{data.ce3}}</div>
            <div class="col">
                <button class="button button-royal" ng-click="ctrl.delete($index)">DEL</button>
            </div>
        </div>
    </ion-content>
</ion-view>