<ion-view title="Sites Tested" ng-controller="SiteListCtrl as site">
    <ion-content class="has-header">
        <div class="list">
            <!-- bugfix: see docs for ng-repeat, duplicates-in-a-repeater-are-not-allowed-in-angularjs-->
            <div ng-repeat="item in site.data track by $index">
                <a class="item item-icon-right"  href="#/menu/site/{{item.site.name}}">
                    {{item.site.name}}
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
