<ion-view title='VISN20 IS'ng-controller="DashboardCtrl as data">

    <ion-content class="has-header">
        <!--show d3 graphs here for all 3 sites
        compliance, non-compliance, and not-tested
        max 3 controls-->
        <div class="row col-50">
          <div class="col">
            <a class="button button-calm" ng-click="data.getSiteData()">Refresh</a>
          </div>

        </div>
    </ion-content>
</ion-view>