<ion-side-menus enable-menu-with-back-views="false">

    <!-- container for navicon -->
    <ion-side-menu-content>
        <!-- nav bar -->
        <ion-nav-bar class="bar-balanced">
            <!-- navicon  -->
            <ion-nav-buttons side="left">
                <button menu-toggle="left"
                        class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
            <!-- back button on child views-->
            <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
            <!-- title -->
            <ion-nav-title>
                <h1 class="title">Title</h1>
            </ion-nav-title>
        </ion-nav-bar>
        <!-- gets the mainContent referenced in the main module -->
        <ion-nav-view name="mainContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <!-- side menu items -->
    <ion-side-menu side="left">
        <!-- side menu header -->
        <ion-header-bar class="bar-energized">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <!-- <header class="bar bar-header bar-stable">
          <h1 class="title">Left</h1>
        </header> -->

        <!-- side menu content references the states in app.js-->
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close ui-sref="sidemenu.dashboard">Dashboard</ion-item>
                <ion-item nav-clear menu-close ui-sref="sidemenu.new-test">New Test Results</ion-item>
                <ion-item nav-clear menu-close ui-sref="sidemenu.sites">Sites</ion-item>
                <ion-item nav-clear menu-close ui-sref="sidemenu.control">Controls</ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>